@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
$primary-color: #81b3ff;
$font-family: "Lato", sans-serif;
body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background: $primary-color;
}

.top-div {
  background: #fff;

  padding: 1em;

  .logo {
    color: $primary-color;
    margin-left: 5em;

    @media (max-width: 640px) {
      margin-left: 1em;
    }
  }
}

.projects-section {
  .section-title {
    color: #fff;
    text-align: center;
    margin-top: 2em;
    font-size: 36px;
  }
  .project-content {
    display: flex;
    justify-content: center;
    .visit-div {
      background: #fff;

      text-align: center;
      width: 200px;
      min-width: 200px;
      border-radius: 1em;
      padding: 2.5em;
      margin-top: 2em;

      h3 {
        color: #afe7a1;
        font-weight: 700;
        font-size: 36px;
        margin-top: -0.3em;
      }

      .description {
        font-weight: 300;
        font-size: 18px;
      }
      .link {
        display: block;
        text-decoration: none;
        color: $primary-color;
        font-size: 15px;
        margin-bottom: 0.1em;
        font-weight: 700;
      }
    }
  }
}

.skills-section {
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin-top: 20em;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  .section-title {
    color: $primary-color;
    font-size: 36px;
    margin-top: 2em;
    text-align: center;

    @media (max-width: 750px) {
      display: none;
    }
  }

  .skills-div {
    background: white;
    box-shadow: 0 2px 2px #cee1ff;
    border-radius: 1em;
    padding: 3em;
    margin: auto;
    margin-bottom: 10em;
    text-align: center;

    .skills-sub-heading {
      color: $primary-color;
    }
    .skills-list {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 1em;
        font-weight: 300;
      }
    }
  }
  #frontend-skills {
    padding-left: 5.73em;
    padding-right: 5.73em;
    padding-bottom: 5.73em;

    margin-top: -7em;
  }

  #backend-skills {
    margin-top: -7em;
    padding: 3.159em;
    @media (max-width: 600px) {
      z-index: 99;
      margin-top: -16em;
    }
  }
}

.contact-section {
  padding-top: 2em;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  .section-title {
    color: $primary-color;
    font-size: 36px;
    margin-bottom: 2em;
  }

  .fieldWrapper {
    margin-bottom: 2em;
    label {
      display: block;
      font-weight: 300;
    }

    .input {
      font-size: 15px;
      font-family: $font-family;
      padding: 20px;
      border-radius: 0.5em;
      box-sizing: border-box;
      border: #cee1ff 2px solid;
      @media (max-width: 465px) {
        width: 300px;
      }
    }

    #id_name,
    #id_email {
      height: 50px;
      width: 417px;
      @media (max-width: 465px) {
        width: 300px;
      }
    }
  }
  #submit {
    width: 417px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 3em;
    background: $primary-color;
    color: #fff;
    border-radius: 0.4em;
    border-style: none;
    border-color: $primary-color;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background: #404363;
    }
    @media (max-width: 465px) {
      width: 300px;
    }
  }

  .success {
    color: rgb(5, 126, 5);
    font-weight: 300;
    font-size: 20px;
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;

  a {
    display: block;
    text-decoration: none;
  }
}
