{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="top-div">
      <h2 class="logo">BP</h2>
      <div></div>
    </div>

    <section class="projects-section">
      <h1 class="section-title">Projects</h1>
      <div class="project-content">
        <div class="visit-div">
          <p>budgetbook</p>
          <a href="" class="site-link">Visit Site</a>
        </div>
      </div>
    </section>

    <section class="skills-section">
      <div id="frontend-skills" class="skills-div">
        <h3 class="skills-sub-heading">Front End</h3>

        <ul class="skills-list">
          <li>HTML</li>
          <li>SCSS</li>
          <li>JavaSrcipt</li>
          <li>Vue</li>
          <li>Bootstrap</li>
          <li>Figma</li>
        </ul>
      </div>

      <h1 class="section-title">My Skills</h1>

      <div id="backend-skills" class="skills-div">
        <h3 class="skills-sub-heading">Back End</h3>

        <ul class="skills-list">
          <li>Python</li>
          <li>Django</li>
          <li>Django Rest Framework</li>
          <li>PostgreSQL</li>
        </ul>
      </div>
    </section>

    <section class="about-section">
      <h1 class="light-title">About</h1>
      <p class="about-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Elementum nibh
        tellus molestie nunc non blandit. Nulla pellentesque dignissim enim sit.
        Tortor id aliquet lectus proin. Nulla facilisi nullam vehicula ipsum a
        arcu. Mi proin sed libero enim sed. Odio ut sem nulla pharetra. Faucibus
        purus in massa tempor nec feugiat nisl pretium. Interdum posuere lorem
        ipsum dolor sit amet consectetur. Ultrices mi tempus imperdiet nulla
        malesuada pellentesque elit. Ut enim blandit volutpat maecenas volutpat
        blandit aliquam. Sit amet dictum sit amet. Hac habitasse platea dictumst
        quisque sagittis.
      </p>
    </section>

    <section class="contact-section">
      <h1 class="section-title">Contact</h1>
    
      <form action="" class="contact-form">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.name.errors }}
          <label for="{{ form.name.id_for_label}}">Name</label>
          <br />
          {{ form.name }}
        </div>
        <div class="fieldWrapper">
          {{ form.email.errors }}
          <label for="{{ form.email.id_for_label }}">Email</label>
          <br />
          {{ form.email }}
        </div>
        <div class="fieldWrapper">
          {{ form.msg.errors }}
          <label for="{{ form.msg.id_for_label }}">Message</label>
          <br />
          {{ form.msg }}
        </div>

        <input id="submit" type="submit" name="submit" value="Send" />
      </form>
    
    </section>

    <section class="footer"></section>
  </body>
</html>
